.img{
    display: flex;
    justify-content: flex-end;
    background-image:  linear-gradient(to right, #0a0137, #240358);
    margin: 30px;
    border-radius: 40px;
    color: white;
    min-height: 1250px;
}
.intro{
    text-align: justify;
    font-size: 2em;
    margin:0px 179px 0 111px;
    max-width: 50%;
    /* background-color: rgb(245, 147, 19); */
    display: flex;
    justify-content: center;
    padding: 0px 143px 0px 167px;
    flex-direction: column;
}
  
.exploreBtn{
    font-size: x-large;
    padding: 10px 32px 10px 32px;
    border-radius: 40px;
    font-weight: 600;
}
.exploreBtn i{
    color: #240358;
    margin: 100px;
}

.ai{
    width:40vw;
    height: 50vh;
    border-radius: 0% 50% 0% 50%; 
    position: relative;
    top: 23%;
    justify-content: center;
    margin-right:7vw;
    margin-bottom: 100px;
    float: right;  
}