


.navbar {
    display: flex;
    font-size:x-large;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    background-color: #08012a;
    color: white;
  }
  
  .navbar-logo img {
    height: 50px;
    width: auto;
  }
  
  .navbar-links {
    list-style-type: none;
    display: flex;
    margin: 0;
    padding: 0;
  }
  
  .navbar-links li {
    margin:0 30px 0 30px;
  }
  
  .navbar-links li a {
    color: white;
    text-decoration: none;
  }
  
  .navbar-links li a:hover {
    text-decoration: underline;
    color: yellow;
  }
  /* .navbar-links li a::before {
    text-decoration: none;
    color: rgb(255, 255, 255);
  } */
  
  .navbar-signup button {
    background-color: white;
    color: #007bff;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
  }
  
  .navbar-signup button:hover {
    background-color: #f0f0f0;
  }
  